# IDE stuff
control/src/.idea
control/src/cmake-build-debug
control/.Makefile.swp
control/src/CMakeLists.txt
*/commit_hash.h

# Prerequisites
*.d
gnuplotscript.gp

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.elf
*.exe
*.out
*.app
*.hex
control/bin/b15fcli

